$base-color: #c4331a;
$icon-color: #e5f8ff;
$highlight-color: #8f1a0a;
$notification-color: #e1a948;
$button-color: #e1a948;

$menu-submenu-text: #e2ecf1;
$menu-submenu-focus-text: #fff;
$menu-submenu-background: #4796b3;

@import "../_admin.scss";
